body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* color: cornsilk; */
    /* tex */
}

input {
  width: 252px;
}

.App {
    width: 800px;
    height: 80%;
}

label {
    margin: 5%;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    /* width: 80%;
  height: 60%; */
}

input {
  height: 25px;
  /* border-radius: 4px; */
  /* border: 2px solid red; */
}

h3 {
  margin-top: 0px;
}

form {
    /* text-align: center; */
    padding: 15%;
    padding-bottom: 5%;
    padding-top: 5%;
    border-radius: 10px;
    /* width: 60vh; */
    background-color: #f0f4fb;
    color: black;
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
}

@media (max-width: 800px) {
    .App {
        width: 350px;
        height: 80%;
    }
    form {
        padding: 10%;
    }

    label {
        display: flex;
        flex-direction: column;
    }
}
